<html>
<head>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

		})
	</script>
</head>
<body>
<div class="container">
	<form>
		<h2 class="md-title">Name:</h2>
		<input type="text" placeholder="Enter name">
	</form>
	<div id="box">
	</div>

	<form id="chatter">
		<input type="text" name="message" id="message" placeholder="Enter your message...">
		<input type="submit" id="submit">
	</form>

	<a href="#/"><button>Home</button></a>
</div>
</body>
</html>